body {
    font-family: 'Roboto';
	width: 68%;
	margin: 0px 16% 0px 16%;
}
a{
	color: black;
	text-decoration:none;
}
header{
	width: 100%;
	height: 60px;
	display: flex;
}
.logo{
	width: 100px;
	height: 40px;
	font-size: 24px;
	margin: auto;
	margin-left: 0px;
	margin-right: 0px;
}
.logo a{
	display: block;
	margin-top: 5px;
	margin-bottom: auto;
}

.search-field{
	width: 60%;
	height: 40px;
	margin: auto;
	margin-right: 0px;
	margin-left: 16%;
	border: 2px solid black
}
form {
	position: relative;
	width: 100%;
	margin: 0 auto;
}
.search-form{
	background: #C4C4C4;
}
input {
	font-size: 20;
	width: 85%;
	height: 40px;
	padding-left: 10px;
	border: 0px solid black;
	outline: none;
	background: #C4C4C4;
	padding: 0px;
}
button {
	position: absolute; 
	top: 0;
	right: 0px;
	width: 40px;
	height: 40px;
	border: none;
	background: #C4C4C4;
	cursor: pointer;
	border: 0px solid black;
	padding: 0;
}
button img{
	display: block;
	width: 30px;
	height: 30px;
	margin: auto
	
}

.log-in{
	width: 30;
	height: 30px;
	margin: auto;
	margin-left: 0px;
	margin-right: 0px;
}
.log-in img{
	display: block;
	width: 30px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
}


main{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 60px;
}
.article-previve-container{
	position: relative;
	width: 100%;
	margin: 20px 0 20px 0;
}
@media(min-width: 800px){
.article-previve-container:before{
	content: "";
	display: block;
	padding-top: 16.875%;
}

.article-previve{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex
}
}


.article-previve img{
	width:30%
}

.article-previve h2{
	margin: 0;
}
.article-previve p{
	margin: 0;
}

.previev-text-container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 20px;
}
.previve-without-image .previev-text-container{
	margin-left: 0px;
}


.img-container{
	position: relative;
	width: 80%;
	margin: 10px 0 10px 0;
}
.img-container:before{
	content: "";
	display: block;
	padding-top: 56.25%;
}

.img{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex
}

.img img{
	width:100%
}

.content p{
	width: 80%;
	font-size: 20px;
}
.comments h1{
	margin: 0;
}
.comments hr{
	margin: 0;
}

.comment{
	display: flex;
	height: 80px;
	margin: 20px 0 20px 0
}

.user-icon{
	margin-right: 10px;
	display: flex;
	width: 80px;
	height: 80px;
	border-radius:100%;
}

.add-comment textarea{
	height: 80px;
	padding: 0px;
	width: 75%;
}

.add-comment button{
	width: 40px;
	height: 80px;
}

.comment h2{
	margin: 0px;
}

.comment p{
	margin: 0px;
}

@media(max-width: 800px){

.search-field{
	border: 0;
}

.search-form {
	background: white;
}
.search-field input {
  
	  width: 0;
	  padding: 0 40px 0 0;
	  background: transparent;
	  transition: .4s cubic-bezier(0, 0.8, 1, 1);
	  position: absolute;
	  top: 0;
	  right: 0;
	  z-index: 2;
}
.search-field input:focus {
	padding: 0;
	background: #C4C4C4;
	width: 200px;
	z-index: 1;
	top: 50px;
	border: 2px solid black
}
.search-field button {
  background: white;
}
.previev-text-container{
	margin-left: 0px;
}

.article-previve img{
	width: 100%
}

.user-icon{
	width: 0;
	margin: 0;
}
	
}
